<button class="btn btn-success btn-sm my-2" (click)="onOpen()">New</button>
<div class="row mt-2">
    <div [ngClass]="isSidebarVisible? 'col-8':'col-12'">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Category Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cate of categoryList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ cate.categoryName }}</td>
                    <td class="d-flex gap-2 justify-content-center">
                        <button class="btn btn-primary" (click)="onUpdate(cate)">Update</button>
                        <button class="btn btn-danger" (click)="deleteCategory(cate._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-4 position-fixed top-25% end-0" *ngIf="isSidebarVisible">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-danger btn-sm float-end" (click)="onClose()">X</button>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="">Category Name</label>
                    <input type="text" [(ngModel)]="categoryObj.categoryName" class="form-control"
                        placeholder="Enter Name" />
                </div>
                <button class="btn btn-success btn-sm mt-2 float-end" *ngIf="categoryObj.categoryId ===0"
                    (click)="createCategory()">Create</button>
                <button class="btn btn-primary btn-sm mt-2 float-end" *ngIf="categoryObj.categoryId !==0"
                    (click)="updateCategory(categoryObj._id,categoryObj)">Update</button>
            </div>
        </div>
    </div>
</div>